extends ./layouts/common.pug

block variable
  - var title = 'Search'
block style
    link(rel='stylesheet', href='/assets/css/admin/base.css')
block content
  .container.mt-3
    if !books && !users
      .row.justify-content-center
        img.empty(src="/sources/img/empty.png", alt="")
      block pagination
    else
      .row.justify-content-end.mb-2
        form(method='POST')
          .form-row.align-items-center
            .col-auto.my-1.ml-auto
              select.form-control.custom-select.mr-sm-2#sort(onChange='this.form.submit()', name='sort') 
                option --- Sort ---
                option(value="DateUp") Date Up
                option(value="DateDown") Date Down
                option(value="NameUp") Name A-Z
                option(value="NameDown") Name Z-A
      if books
        h3 Books
        hr
        table.table.table-hover
          thead
            tr
              th(scope='col') #
              th(scope='col') 
              th(scope='col') Title
              th(scope='col') Author
              th(scope='col') Date Post
              th(scope='col') Quantity
              th(scope='col') 
          tbody
            each elm, index in books
              tr
                td= index+1
                td(scope='row')
                  if elm.avatarUrl
                    a(href="/admin/books/view/" + elm._id, alt= elm.title)
                      img.image__table(src=elm.avatarUrl)
                  else
                    img.image__table--empty(src='/sources/img/book-default.jpg')
                td
                  a(href="/admin/books/view/" + elm._id)= elm.title
                td
                  a(href="/admin/search/1?authorQuery=" + elm.author)= elm.author
                td= elm.createAt.getDate() + '-'+ elm.createAt.getMonth() + '-' + elm.createAt.getFullYear()
                td= elm.quantity
                td
                  button.btn.btn-danger.open-AddBookDialog(type="button", data-book= elm, data-toggle="modal", data-target="#bookModal" onclick="handleEditBook()") edit
      if users
        h3 Users
        hr
        table.table.table-hover
          thead
            tr
              th(scope='col') #
              th(scope='col') 
              th(scope='col') Name
              th(scope='col') Email
              th(scope='col') Phone
              th(scope='col') Active
          tbody
            each elm, index in users
              tr
                td= index+1
                td(scope='row')
                  if elm.avatarUrl
                    a(href="", alt= elm.title)
                      img.image__table(src=elm.avatarUrl)
                  else
                    img.image__table--empty(src='/sources/img/user-avatar-default.png')
                td
                  a(href="")= elm.name
                td
                  a(href="")= elm.email
                td= elm.phone
                td
                  if elm.status == "true"
                    span.dot
                      i.bg-success
                      |Active
                  else
                    span.dot
                      i.bg-danger
                      |Block
        //- Modal Edit Book
        #bookModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#modalLabel.modal-title Edit Info
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                form(action="/admin/books/edit", method="POST" enctype="multipart/form-data")
                  input#idBook.form-control.d-none(type='text', name="idBook")
                  input#url.form-control.d-none(type='text', name="url")
                  .form-group
                    label.col-form-label(for='title') Title
                    input#title.form-control(type='text', name="title")
                  .form-row
                    .form-group.col.col
                      label(for='author') Author:
                      input#author.form-control(type='text', name="author")
                    .form-group.col
                      label(for='year') Year:
                      input#year.form-control(type='number', name="year")
                    .form-group.col
                      label(for='quantity') Quantity:
                      input#quantity.form-control(type='number', name="quantity")
                  .form-row
                    .form-group.col
                      label(for='publisher') Publisher:
                      input#publisher.form-control(type='text', name="publisher")
                    .form-group.col
                      label(for='category') Category:
                      input#category.form-control(type='text', name="category")
                  .form-group
                    label.col-form-label(for='description') Description:
                    textarea#description.form-control(name="description", rows="4")
                  .form-group
                    label.col-form-label(for='avatar') Avatar
                    input#avatar.form-control(type='file', name="avatar")
                  .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-primary(type='submit') Save  

block script
  script.
      $( document ).ready(function() {
      //- console.log(mess);
      let msgStr = !{JSON.stringify(mess)};
      //- console.log(msgStr);
      //- console.log(typeof(msgStr));
      if(typeof(mess) != 'undefined' && mess != '' && msgStr !== []){
          alert(msgStr);
      }
      });
      
  script(src='/assets/js/admin/handleEditBook.js')