extends ../layouts/common.pug

block variable
  - var title = 'Books'
block style
    link(rel='stylesheet', href='/assets/css/admin/base.css')
    link(rel='stylesheet', href='/assets/css/admin/bookHome.css')
block content
  .container.mt-3
    if books == false
      .row.justify-content-center
        img.empty(src="/sources/img/empty.png", alt="")
    else
      .row.justify-content-between.mb-2
        h3=categoryName
        form(method='POST')
          .form-row.align-items-center
            .col-auto.my-1.ml-auto
              select.form-control.custom-select.mr-sm-2#sort(onChange='this.form.submit()', name='sort') 
                option --- Sort ---
                option(value="DateUp") Date Up
                option(value="DateDown") Date Down
                option(value="TitleUp") Name A-Z
                option(value="TitleDown") Name Z-A
      table.table.table-hover
        thead
          tr
            th.table-index(scope='col') #
            th.table-avatar(scope='col') 
            th.table-title(scope='col') Title
            th.table-author(scope='col') Author
            th(scope='col') Date Post
            th(scope='col') Quantity
            th(scope='col') 
        tbody
          each book, index in books
            tr
              td.table-index(scope='row')= index+1
              td.table-avatar(scope='row')
                if book.avatarUrl
                  a(href="/admin/books/view/" + book._id)
                    img.image__table(src=book.avatarUrl, alt= book.title)
                else
                  img.image__table--empty(src='/sources/img/book-default.jpg')
              td.table-title
                a(href="/admin/books/view/" + book._id)= book.title
              td.table-author
                a(href="/admin/search/1?authorQuery=" + book.author)= book.author
              td= book.createdAt.getDate() + '-'+ (book.createdAt.getMonth() + 1) + '-' + book.createdAt.getFullYear()
              td= book.quantity
              td
                button.btn.btn-danger.open-AddBookDialog(type="button", data-book= book, data-toggle="modal", data-target="#bookModal" onclick="handleEditBook()") edit
  #bookModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#modalLabel.modal-title Edit
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form(action="/admin/books/create", method="POST", enctype="multipart/form-data")
            input#idBook.form-control.d-none(type='text', name="idBook")
            input#url.form-control.d-none(type='text', name="url")
            .form-group
              label.col-form-label(for='title') Title
              input#title.form-control(type='text', name="title")
            .form-row
              .form-group.col.col
                label(for='author') Author:
                input#author.form-control(type='text', name="author")
              .form-group.col
                label(for='year') Year:
                input#year.form-control(type='number', name="year")
              .form-group.col
                label(for='quantity') Quantity:
                input#quantity.form-control(type='number', name="quantity")
            .form-row
              .form-group.col
                label(for='publisher') Publisher:
                input#publisher.form-control(type='text', name="publisher")
              .form-group.col.ui-widget
                label(for='category') Category:
                input#category.form-control(type='text', name="category")
                ul.matches
            .form-group
              label.col-form-label(for='description') Description:
              textarea#description.form-control(name="description", rows="4")
            .form-group
              label.col-form-label(for='avatar') Avatar
              input#avatar.form-control(type='file', name="avatar")
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
              button.btn.btn-primary(type='submit') Save
block script
  script.
    let categories = !{JSON.stringify(categories)};
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js")
  script(src='/assets/js/admin/handleEditBook.js')
  script(src='/assets/js/admin/changeAlias.js')
  script(src='/assets/js/admin/handleSelectCategories.js')
  script.
    //clear form
    function handleAddBook(){
      let form = $('#bookModal form');
      form.trigger("reset");
      form.attr('action', '/admin/books/create');
      $('#bookModal #url').val(window.location.pathname);
      return;
    }
  script.
    let msgStr = !{JSON.stringify(mess)};
    if(msgStr && msgStr.length !== 0){
      alert(msgStr);
    }