extends ../layouts/common.pug

block title
  title Detail || BookStore
block style
    link(rel='stylesheet', href='/assets/css/bookView.css')
block content
  .container
    .row.mt-5
      .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-4
        if book.avatarUrl
          img(src=book.avatarUrl, alt=book.title, width="150px", height="200px")
        else
          img(src='/sources/img/book-default.jpg', alt=book.title, width="150px", height="200px")
      .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-8.d-flex.flex-column.align-items-start.justify-content-end.book__view
        h4= book.title
        .my-3
        p Author: 
          if book.author
            i=book.author
          else
            i  ---
        p Publisher: 
          if book.publisher
            i=book.publisher
          else
            i  ---
        p Year: 
          if book.year
            i=book.year
          else
            i  ---
        if book.quantity > 0
          a.btn.btn-success.mt-3(href="/books/addToCart/" + book._id) Add to Cart
    .row.mt-4
      .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
        h5
          u.text-dark.font-weight-bold.font Description
        .border.border-primary.rounded.p-3.mb-5
          if book.description
            span=book.description
          else
            span No Description
  block pagination