extends ./layouts/common.pug

block variable
  - var title = 'Home'
block style
    link(rel='stylesheet', href='/assets/css/home.css')
block content
  .container.mt-3
    .row
      .col.d-flex.justify-content-between.px-0
        //- modal add book
        if user && user.isAdmin == "true"
          button.btn.btn-info.font-weight-bold.my-2.my-sm-0(type='button', data-toggle='modal', data-target='#newBookModal') New Book
          #newBookModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title New Book
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                form(action="/books/create" method="POST" enctype="multipart/form-data")
                  .modal-body
                    .form-group
                      input.form-control(name="title", type='text', placeholder='Title Book')
                    .form-group
                      textarea.form-control(name="description", cols="30", rows="4", type='text', placeholder='Description')
                    .form-group
                      input.form-control-file(name="avatar", type='file')
                  .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='submit') Save
        form.form-inline.my-2.my-lg-0(action="/books/search", method="GET")
          input.form-control.mr-sm-2(type='search', name="name", placeholder='Search', aria-label='Search')
          button.btn.btn-success.my-2.my-sm-0(type='submit') Search
    .row.row__render--book
      //- render list book
      each elm in books
        .card.col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3.mt-3(style='width: 18rem;')
          if elm.avatarUrl
            a.img__contain(href="/books/view/" + elm._id)
              img.card-img-top(src=elm.avatarUrl, alt=elm.title)
          else
            a.img__contain(href="/books/view/" + elm._id)
              img.card-img-top(src='/sources/img/book-default.jpg', alt=elm.title)
          .card-body
            h5.card-title= elm.title
            p.card-text.card__text--wrap= elm.description
            a.btn.btn-primary(href="/books/view/" + elm._id) view
            span &nbsp
            if user && user.isAdmin == "true"
              a.btn.btn-success(href="/books/edit/" + elm._id) edit
              span &nbsp
              a.btn.btn-danger(href="/books/remove/" + elm._id) remove
            else
              a.btn.btn-success(href="/books/addToCart/" + elm._id) Add to Cart