extends ./layouts/common.pug

block content
  .container.mr-5.mt-3
    form(action="/books/search", method="GET")
      input(type="text", name="name")
      span &nbsp
      button(type="submit") Search

    h4 Book list :
    if userAdmin
      if userAdmin.isAdmin == true
        a(href="/books/create") NEW BOOK
        ul
          each val in book
            li
              img(src=val.avatarUrl)
              span &nbsp
              span= val.title
                span &nbsp
                span &nbsp
                a(href="/books/view/" + val.id) view
                span &nbsp
                a(href="/books/edit/" + val.id) edit
                span &nbsp
                a(href="/books/remove/" + val.id) remove
      else
        ul
          each val in book
            li
              img(src=val.avatarUrl)
              span &nbsp
              span= val.title
                span &nbsp
                span &nbsp
                a(href="/books/view/" + val.id) view
                span &nbsp
                a(href="/books/addToCart/" + val.id) Add to Cart
    else
      ul
        each val in book
          li
            img(src=val.avatarUrl)
            span &nbsp
            span= val.title
              span &nbsp
              span &nbsp
              a(href="/books/view/" + val.id) view
              span &nbsp
              a(href="/books/addToCart/" + val.id) Add to Cart
block footer