extends ./layouts/common.pug

block content
  .container.mt-3
    if userAdmin
      .row.mb-3.justify-content-between
        button.btn.btn-info.font-weight-bold(href="/books/create") NEW BOOK
        a.btn.btn-danger.font-weight-bold(href="/logout") Logout
      .row
        if userAdmin.isAdmin == "true"
          each val in book
            .card.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(style='width: 18rem;')
              if val.avatarUrl
                img.card-img-top(src=val.avatarUrl, alt=val.title)
              else
                img.card-img-top(src='/sources/img/book-default.jpg', alt=val.title)
              .card-body
                h5.card-title= val.title
                p.card-text= val.description
                a.btn.btn-primary(href="/books/view/" + val._id) view
                span &nbsp
                a.btn.btn-success(href="/books/edit/" + val._id) edit
                span &nbsp
                a.btn.btn-danger(href="/books/remove/" + val._id) remove
        else
          each val in book
            .card.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(style='width: 18rem;')
              if val.avatarUrl
                img.card-img-top(src=val.avatarUrl, alt=val.title)
              else
                img.card-img-top(src='/sources/img/book-default.jpg', alt=val.title)
              .card-body
                h5.card-title= val.title
                p.card-text= val.description
                a.btn.btn-primary(href="/books/view/" + val._id) view
                span &nbsp
                a.btn.btn-success(href="/books/addToCart/" + val._id) Add to Cart
    else
      .row
        each val in book
          .card.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(style='width: 18rem;')
            if val.avatarUrl
              img.card-img-top(src=val.avatarUrl, alt=val.title)
            else
              img.card-img-top(src='/sources/img/book-default.ipg', alt=val.title)
            .card-body
              h5.card-title= val.title
              p.card-text= val.description
              a.btn.btn-primary(href="/books/view/" + val._id) view
              span &nbsp
              a.btn.btn-success(href="/books/addToCart/" + val._id) Add to Cart
block footer