extends ./layouts/common.pug

block variable
  - var title = 'Home'
block style
    link(rel='stylesheet', href='/assets/css/home.css')
block content
  .container.mt-3
    .row.row__render--book
      //- render list book
      each elm in books
        .card.border-secondary.col-12.col-sm-12.col-md-6.col-lg-4.col-xl-3.mt-3(style='width: 18rem;')
          if elm.avatarUrl
            a.img__contain(href="/books/view/" + elm._id)
              img.card-img-top(src=elm.avatarUrl, alt=elm.title)
          else
            a.img__contain(href="/books/view/" + elm._id)
              img.card-img-top(src='/sources/img/book-default.jpg', alt=elm.title)
          .card-body
            h5.card-title= elm.title
            p.card-text.card__text--wrap= elm.description
            a.btn.btn-primary(href="/books/view/" + elm._id) view
            span &nbsp
            a.btn.btn-success(href="/books/addToCart/" + elm._id) Add to Cart