extends ../layouts/common.pug

block variable
  - var title = 'Transactions'
block style
    link(rel='stylesheet', href='/assets/css/admin/base.css')
block content 
  .container.mt-3
    if transactions == false
      .row.justify-content-center
        img.cart__empty(src="/sources/img/Transaction-empty.png", alt="")
    else
      .row.justify-content-between.mb-2
        h4 Transactions
        form(method='POST')
          .form-row.align-items-center
            .col-auto.my-1.ml-auto
              select.form-control.custom-select.mr-sm-2#sort(onChange='this.form.submit()', name='sort')
                option --- Sort ---
                option(value="DateUp") Date Up
                option(value="DateDown") Date Down
      table.table.table-hover
        thead
          tr
            th(scope='col') #
            th(scope='col') 
            th(scope='col') Title
            th(scope='col') Name
            th(scope='col') Email
            th(scope='col') Status
        tbody
          each elm, index in transactions
            tr
              td= index+1
              td(scope='row')
                if elm.avatarUrl
                  img.image__table(src=elm.avatarUrl)
                else
                  a(href="/admin/books/view/" + elm.idBook)
                    img.image__table--empty(src='/sources/img/book-default.jpg' alt=elm.title)
              td
                a(href="/admin/books/view/" + elm.idBook)= elm.title
              td
                a(href="/admin/users/view/" + elm.idUser)= elm.name
              td
                a(href="/admin/users/view/" + elm.idUser)= elm.email
              td
                if elm.isCompleted == true
                    span.dot
                        i.bg-success
                        | Done
                else
                    span.dot
                        i.bg-danger
                        | Pending
