extends ../layouts/common.pug

block variable
  - var title = 'Info'
block style
  link(rel="stylesheet", href="/assets/css/admin/base.css")
  link(rel="stylesheet", href="/assets/css/admin/users.css")
block content
      .container
        .row.mt-5
          .col.col-12.col-sm-3.col-md-4.user__avatar
            if user.avatarUrl
              img(src=user.avatarUrl)
            else
              img(src="/sources/img/user-avatar-default.png")
          .col.col-12.col-sm-9.col-md-8.d-flex.flex-column.justify-content-end.user__profile
            h5= user.name
            h6= user.email
            p Phone Number: 
              if user.phone
                i=user.phone
              else
                i  ---
            p Address: 
              if user.address
                i=user.address
              else
                i  ---
            p Birthdate: 
              if user.birthdate
                i=user.birthdate.getDate() + '-'+ (user.birthdate.getMonth() + 1) + '-' + user.birthdate.getFullYear()
              else
                i  ---
            if user.isAdmin == true
              a(href="#" data-toggle='modal', data-target='#editProfileModal') Edit Profile
              a(href="#" data-toggle='modal', data-target='#changePasswordModal') Change Password
              //- Edit Profile Modal
              #editProfileModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      h5#exampleModalLabel.modal-title Edit Profile
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    form(action="/admin/users/edit/info", method="POST" enctype="multipart/form-data")
                      .modal-body
                        .form-row
                          //- Name
                          .form-group.col
                            label(for="name") Name
                            input#name.form-control(name="name", type='text', placeholder="Name", value= user.name)
                          //- Email
                          .form-group.col
                            label(for="email") Email
                            input#email.form-control(name="email", type='email', placeholder="Email", value= user.email)
                        .form-row
                          //- Phone
                          .form-group.col
                            label(for="phone") Phone Number
                            input#phone.form-control(name="phone", type='text', placeholder="Phone Number", value= user.phone)
                          //- Address
                          .form-group
                            label(for="birthdate") Birthdate
                            input#birthdate.form-control(name="birthdate", type='date', placeholder="Birthdate", value= user.birthdate)
                        //- Birthday
                        .form-group
                          label(for="address") Address
                          input#address.form-control(name="address", type='text', placeholder="Address", value= user.address)
                        //- Avatar
                        .form-group
                          label Select a avatar:
                          input.form-control-file(name="avatar", type='file')
                      .modal-footer
                        button.btn.btn-secondary(type='reset', data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Save
              //- Change Password Modal
              #changePasswordModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      h5#exampleModalLabel.modal-title Change Password
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    form(action="/admin/users/edit/password", method="POST")
                      .modal-body
                        .form-group
                          input.form-control(name="oldPassword", type='password', placeholder='password')
                        .form-group
                          input.form-control(name="newPassword", type='password', placeholder='new password')
                        .form-group
                          input.form-control(name="retypePassword", type='password', placeholder='retype password')
                      .modal-footer
                        button.btn.btn-secondary(type='reset', data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Save
        if user.isAdmin != true
          .row.mt-4.cart-active
            .div
              span Carts Activity
              a(href="/admin/carts/" + user._id) view all
            if arrCart == false
              hr.mt-0
              p No Cart Active
            else
              table.table.table-hover
                thead
                  tr
                    th(scope='col') 
                    th(scope='col') Title Book
                    th(scope='col') Timeout
                    th(scope='col') 
                tbody
                  each elm in arrCart
                    tr
                      td(scope='row')
                        if elm.avatarUrl
                          a(href="/books/view/" + elm.idBook)
                            img.image__table(src=elm.avatarUrl)
                        else
                          img.image__table--empty(src='/sources/img/book-default.jpg', alt="")

                      td
                        a(href="/books/view/" + elm.idBook)= elm.title
                      td= elm.timeout
                      td
                        button.btn.btn-danger.open-AddBookDialog(type="button", data-book= elm, data-toggle="modal", data-target="#confirmModal" onclick="handleConfirm()") Checkout
          .row.mt-4.transaction-active
            .div
              span Transactions Activity
              a(href="/admin/transactions/" + user._id) view all
            if arrTransaction == false
              hr.mt-0
              p No Transaction Active
            else
              table.table.table-hover
                thead
                  tr
                    th(scope='col') 
                    th(scope='col') Title Book
                    th(scope='col') Timeout
                    th(scope='col') 
                tbody
                  each elm in arrTransaction
                    tr
                      td(scope='row')
                        if elm.avatarUrl
                          a(href="/books/view/" + elm.idBook)
                            img.image__table(src=elm.avatarUrl)
                        else
                          img.image__table--empty(src='/sources/img/book-default.jpg', alt="")

                      td
                        a(href="/books/view/" + elm.idBook)= elm.title
                      td= elm.timeout
                      td
                        button.btn.btn-success.open-AddBookDialog(type="button", data-book= elm, data-toggle="modal", data-target="#confirmModal" onclick="handleConfirm()") Done
          #confirmModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#modalLabel.modal-title Are You Sure?
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  form(method="POST")
                    input#id.form-control.d-none(type='text', name="id")
                    .modal-footer
                      button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                      button.btn.btn-primary(type='submit') Confirm              
block pagination
block script
  script(src='/assets/js/admin/handleConfirm.js')
  script.
    $('#changePasswordModal').on('hidden.bs.modal', function () {
      $(this).find('form').trigger('reset');
    })
  script.
    let msgStr = !{JSON.stringify(mess)};
    if(msgStr && msgStr.length !== 0){
      alert(msgStr);
    }